* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* color: #4F4F4F; */
}

:root {
  --theme-color: #3066fb;
  --heading-color: #3c4043;
  --neutral: #d9d9d9;
  --placeholder: #919191;
  --selected-shade: #f2f7fd;
}

ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}

/*black overlay*/
.bg-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  top: 0;
  left: 0;
}
.bg-overlay.open {
  opacity: 1;
  visibility: visible;
}

:where(.css-dev-only-do-not-override-190m0jy).ant-btn > span {
  color: #fff !important;
}

.pages {
  background: #f8f9fa;
  padding: 8px;
  overflow: hidden;
  height: 100vh;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
  background: #fafafa;
}
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 18px;
}

@media (max-width: 767px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}

/*breadcumb*/
.pages .breadcumb {
  padding-top: 12px;
  padding-bottom: 9px;
}
/* .pages .breadcumb .left p {
  font-size: 14px;
  font-weight: 500;
}
.pages .breadcumb .left p a {
  color: #00000073;
  transition: 0.3s;
}
.pages .breadcumb .left p a:hover {
  color: var(--theme-color);
}
.pages .breadcumb .left p span {
  padding: 0 8px;
} */

.pages .breadcumb .left nav ol li a {
  font-size: 14px;
  font-weight: 500;
}
.pages .breadcumb .left nav ol li a span {
  padding: 0px 8px;
}
.pages .breadcumb .left nav ol li a {
  color: #00000073;
  transition: 0.3s;
}
.pages .breadcumb .left nav ol li a:hover {
  color: var(--theme-color);
}
@media (max-width: 767px) {
  .pages .breadcumb .right {
    margin-top: 10px;
  }
  .pages .breadcumb {
    padding: 8px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pages .breadcumb {
    padding: 8px 0;
  }
  .pages .breadcumb .left p {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1500px) {
  .pages .breadcumb .left p {
    font-size: 12px;
  }
  .pages .breadcumb {
    padding-top: 10px;
    padding-bottom: 7px;
  }
  .pages .breadcumb .left p {
    font-size: 12px;
  }
}

.refresh {
  color: var(--text-colors-highlight-text-color, #3066fb);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.f-14 {
  font-size: 14px;
}

.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}
